body{
    background-color: white;
    overflow: hidden;
    margin: 0px;
}

.headerButton a{  /*настройка цвета кнопок */
    color: black;
    text-decoration: none;
}

#project a{
    color: rgb(63, 179, 218);
}

.header{ /* настройка всей шапки */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    float: right;
}

.header_item{
    padding: 10px 15px;
    font-size: 22px;
}

.header_item:hover{
    background-color: rgb(65, 113, 209);
    border-radius: 25px;
    cursor: pointer;
    text-align: right;
}

.main{ /*о отвечает за черный квадрат */
    position: absolute;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(160, 160, 160));
    justify-content: space-between;
}

.block_1{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    text-align: center;
}

.block_1_item{
    color: rgb(0, 255, 229);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 27px;
    line-height: 50px;
}

.grid_container{
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_item a{
    color: rgb(0, 255, 229);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    line-height: 300px;
    z-index: 2;
}

.footer{
    background-color: white;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4%;
    font-size: 19px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}






