body{
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.headerButton a{  /*настройка цвета кнопок */
    color: black;
    text-decoration: none;
}

#project a{
    color: rgb(63, 179, 218);
}

.header{ /* настройка всей шапки */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: black;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    align-items: center;
    float: right;
}

.header_item{
    padding: 10px 15px;
    font-size: 22px;
}

.header_item:hover{
    background-color: rgb(65, 113, 209);
    border-radius: 25px;
    cursor: pointer;
    text-align: right;
}

.block_1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1%;
    left: 25%;
}

.block_2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3%;
    left: 25%;
}

.block_1 a{
    margin-top: 100px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 229);
    text-align: center;
    justify-content: space-between;
    z-index: 2;
}

.block_2 a{
    margin-top: 100px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 229);
    text-align: center;
    justify-content: space-between;
    z-index: 2;
}

.block_3{
    position: fixed;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(160, 160, 160));
    z-index: 1;
}

.block_3 a{
    color: rgb(0, 255, 229);
    text-decoration: none;
    padding: 15px 15px;
    font-size: 22px;
    padding-top: 60px;
    margin-left: 15px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
}

